type project
id Pulumi.FSharp.AzureNativeV2
description F# wrappers for Pulumi.AzureNative (V2)
authors Cagyirey
projectUrl https://github.com/cagyirey/Pulumi.FSharp.Extensions
licenseExpression MIT
tags fsharp pulumi azurenative

dependencies
  Pulumi.FSharp ~> LOCKED-Providers:Minor
  Pulumi.FSharp.Core ~> LOCKED-Providers:Minor
  Pulumi.AzureNative = LOCKEDVERSION
excludedgroups
  Myriad
