type project
id Pulumi.FSharp.Docker
description F# wrappers for Pulumi.Docker
authors Cagyirey
projectUrl https://github.com/cagyirey/Pulumi.FSharp.Extensions
licenseExpression MIT
tags fsharp pulumi docker

dependencies
  Pulumi.FSharp ~> LOCKED-Providers:Minor
  Pulumi.FSharp.Core ~> LOCKED-Providers:Minor
  Pulumi.Docker = LOCKEDVERSION
excludedgroups
  Myriad
