type project
id Pulumi.FSharp.Azure
description F# wrappers for Pulumi.Azure
authors Cagyirey
projectUrl https://github.com/cagyirey/Pulumi.FSharp.Extensions
licenseExpression MIT
tags fsharp pulumi azure

dependencies
  Pulumi.FSharp ~> LOCKED-Providers:Minor
  Pulumi.FSharp.Core ~> LOCKED-Providers:Minor
  Pulumi.Azure = LOCKEDVERSION
excludedgroups
  Myriad
