type project
id Pulumi.FSharp.Gcp
description F# wrappers for Pulumi.Gcp
authors Cagyirey
projectUrl https://github.com/cagyirey/Pulumi.FSharp.Extensions
licenseExpression MIT
tags fsharp pulumi gcp

dependencies
  Pulumi.FSharp ~> LOCKED-Providers:Minor
  Pulumi.FSharp.Core ~> LOCKED-Providers:Minor
  Pulumi.Gcp = LOCKEDVERSION
excludedgroups
  Myriad
